@using DbOZ.Models.Entity
@model List<Tbl_Deneyimler>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Deneyim Listesi</h2>
<table class="table-bordered table"> 
    <tr>
        <th>ID</th>
        <th>Baslık</th>
        <th>Alt Baslık</th>
        <th>Tarih</th>
        <th>Sil</th>
        <th>Guncelle</th>

    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td> @x.ID</td>
            <td> @x.Baslık</td>
            <td> @x.AltBaslik</td>
            <td> @x.Tarih</td>
            <td><a href="/Deneyim/DeneyimSil/@x.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Deneyim/DeneyimGetir/@x.ID" class="btn btn-warning">Duzenle</a></td>

        </tr>
    }
</table>
<a href="/Deneyim/DeneyimEkle" class="btn btn-primary">Yeni Deneyim Ekle</a>

