@using DbOZ.Models.Entity
@model List<Tbl_hobilerim>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Hobi Duzenleme Sayfası</h2>
<br />
<form  method="post">
    @foreach (var x in Model)
    {
        <label>Acıklama 1</label>
        <textarea rows="6" class="form-control" name="Aciklama1">@x.Aciklama1</textarea>
        <label>Acıklama 2</label>
        <textarea rows="6" class="form-control" name="Aciklama2">@x.Aciklama2</textarea>
    }
    <br />
    <button class="btn btn-success">Guncelle</button>
</form>
