@using DbOZ.Models.Entity
@model List<Tbl_Admin>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />
<h2>Admin İslemleri</h2>
<table class="table-bordered table">
    <tr>
        <th>ID</th>
        <th>Kullaıcı Adı</th>
        <th>Duzenle</th>
        <th>Kaldır</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td> @x.ID</td>
            <td> @x.Kullaniciadi</td>
            <td><a href="/Admin/AdminDuzenle/@x.ID" class="btn btn-warning">Duzenle</a></td>
            <td><a href="/Admin/AdminSil/@x.ID" class="btn btn-danger">Sil</a></td>

        </tr>
    }
</table>
<a href="/Admin/AdminEkle" class="btn btn-primary">Yeni Kullanici Ekle</a>

