@model DbOZ.Models.Entity.Tbl_Sertfika
@{
    ViewBag.Title = "SertifikaGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Sertifika Duzenleme Sayfası</h4>
<br />
<form method="post">
    @Html.Label("Sertifika Acıklama")
    @Html.TextBoxFor(x=> x.Aciklama , new { @class = "form-control" })
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Guncelle</button>
    <a href="/Sertifika/SertifikaSil/@ViewBag.d" class="btn btn-danger">sil</a>
</form>

